body {
    background-color: #504f4f;
    color:aquamarine    
}
#lorem {
    color:rgb(226, 17, 17);
    /* los px el 1ro es que tanto desplaza a la derecha, el 2ndo hacia abajo
    y el tercero que tan difuro esta el text de la sombra  */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 10);
}
.etiqueta{
    color:blue;
    word-spacing: 5px;
}
.caja {
    margin: 8px;
    padding: 10px;
    border-style: outset;
    border-width: 5px;
    border-color:blueviolet;
    background-color: #000000;
    border-radius: 5px;
    height: 100px;
    width: 50%;
    color:crimson;
}
.caja:hover{
    margin: 8px;
    padding: 10px;
    border-style: outset;
    border-width: 5px;
    border-color:rgb(226, 55, 43);
    background-color: #ffffff;
    border-radius: 5px;
    height: 100px;
    width: 50%;
    color:rgb(0, 0, 0);
}
/*puedes poner no solo id con # o clase con . 
sino todas las etiquetas como body o p
*/
h5{ color: darkgreen;}
a{
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 10%;
    padding: 15px;
    background-color: beige;
    border-color: 1px solid;
    letter-spacing: 3px;
}
/*link en hover y visitado active es cuando click*/
a:link{
    color:chartreuse
}
a:visited{
    color:hotpink
}
a:hover{
    text-decoration: underline;
    color: blue;
    background-color: aqua;
    border-style: outset;
}
a:active{
    color: #000000;
    background-color: chartreuse;
    border-style: inset;
}
#tit{
    font-family: 'Times New Roman';
    font-style: oblique;
    font-size: 25px;
    color: darkolivegreen;
    font-weight: 900;
}
ul{
    padding-left: 0px;
} 
ul li{
    list-style-type: lower-greek;
    background-color: #cac7c7;
    border-radius: 4px;
    border: solid 1px #ddd;
    padding: 10px;
    width: 65%;
}